.btn {
    padding: 1rem 2rem;
    background: rgb(17,17,255);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 30px;
}
.parent {
    display: flex;
    justify-content: center;
}
